<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("contact-form").submit();
      }
    </script>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MPQ8Q6DCM5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MPQ8Q6DCM5');
</script>

    
  </head>
  <body>

    
   <div class="container">


      <div class="left_side">
          <div class="Perfile">
              <div class="img-perfil"></div>
              <h2>Eleazar A. Zerpa S.</h2>
              <span>Estudiante de Ing.Informatica</span>
          </div>



          <div class="informacion_contacto">
              <h3 class="titulo">Informacion de contacto</h3>
              <ul>
                  <li>
                      <span class="icono"><p>telefono</p>
                      </span>
                      <span class="text">+58 4126110578</span>
                  </li>
                  <li>
                      <span class="icono"><p>correo</p>
                      </span>
                      <span class="text">130256347+L-azarZerpa@users.noreply.github.com
                      </span>
                  </li>
              
                  <li>
                      <span class="icono"><p>direccion</p>
                      </span>
                      <span class="text">Venezuela, guarico, altagracia de orituco</span>
                  </li>
              </ul>
          </div>
          <div class="Informacionde_contacto_Estudios">
              <h3 class="title">Estudios</h3>
              <ul>
                  <li class="lista">
                      <h5>2020 - 2023</h5>
                      <h4 class="info">cursando 5to Semestre de ing.informatica</h4>
                      <h4 class="info">Universidad Nacional Experimental Romulo Gallegos</h4>
                  </li>
                  <li class="lista">
                      <h5>2014 - 2019</h5>
                      <h4 class="info">Bachillerato</h4>
                      <h4 class="info">Unidad Educativa Colegio Nuestra Señora de Altagracia</h4>
                  </li>
              </ul>
          </div>
          
          
      </div>




          

      <div class="right_side">
          <div class="about">
              <h2 class="title2">Perfil.</h2>
              <br><br></br><p>Me considero una persona capaz y que quiere seguir aprendiendo hasta ahora todo lo que se, siempre seguir inovando y por eso me gustara buscar nuevas opurtunidades de trabajo para aplicar lo aprendido y aprender nuevas cosas y obtener experiencia.</p>
          </div>
          <div class="about">
              <h2 class="title2">Experiencia</h2>
              <div class="box">
                  <div class="text">
                      <h4>por ahora no poseo experiencia laboral en el ambito de la programacion mas sin embargo me gustaria obtenerla</h4>
                  </div>
                  
          </div>

          <div class="about skills">
              <h2 class="title2">proffesional skills</h2>
              <div class="box1">
                  <h4 class="enunciado">HTML</h4>
                  <div class="percent2">
                      <div style="width: 90%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">CSS</h4>
                  <div class="percent2">
                      <div style="width: 75%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">JavaScript</h4>
                  <div class="percent2">
                      <div style="width: 70%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">githud</h4>
                  <div class="percent2">
                      <div style="width: 30%"></div>
                  </div>
              </div>
              

          <div class="interes">
              <h2 class="title2">interes</h2>
              <ul>
                  <li><i class="fa fa-gamepad" aria-hidden="true"></i>
                      Gaming</li>
                  <li><i class="fa fa-palette"></i>
                      dibujar</li>
                  <li><i class="fa fa-futbol-o" aria-hidden="true"></i>
                      ejercicio</li>
              </ul>
          </div>
          <form action="/" method="post" id="contact-form" >
            <section class="form-register">
                <h4>formularios</h4>
                <label for="email">email</label>
                <input class="controls" type="email" name="email" id="email" placeholder="ingrese su email">
                <label for="name">nombre</label>
                <input class="controls" type="text" name="name" id="name" placeholder="ingrese su nombre">
                <label for="comment">comentario</label>
                <textarea class="controls" name="comment" id="comment" cols="30" rows="10" placeholder="comentario"></textarea>
                <p>estoy de acuerdo con <a href="#">terminos y condiciones</a></p>
          
                <button class="g-recaptcha" data-sitekey="6LesI0smAAAAAIADyZH7fHsvZivNbLLahGCdljSp" data-callback="onSubmit">Submit</button>
                
                <p><a href="#">politica de privacidad</a></p>
            </section>  
            </form>
    
    
  </body>
</html>
